@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-700: 63, 50, 215;
    --color-primary-500: 122, 110, 254;
    --color-primary-300: 92, 78, 252;

    --color-service-900: 33, 33, 33;
    --color-service-800: 3, 29, 64;
    --color-service-700: 46, 46, 46;
  }

  body,
  button,
  input,
  a {
    font-family: "Poppins", sans-serif !important;
  }

  *,
  ::before,
  ::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    user-select: none;
  }

  button,
  input,
  a {
    outline: none;
  }
}

@layer components {
  * {
    @apply scroll-py-[48px];
  }
}

@layer utilities {
  .margins {
    @apply px-6;
  }
  .animation {
    @apply duration-300 transition-all;
  }
  .font-Light {
    @apply font-["Grotesk-Light"];
  }
  .font-Regular {
    @apply font-["Grotesk-Regular"];
  }
  .font-Bold {
    @apply font-["Grotesk-Bold"];
  }
  .font-ExtraBold {
    @apply font-["Grotesk-ExtraBold"];
  }

  .bg-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    @apply bg-gray-100;
  }
}
